* {
    margin: 0;
    padding: 0;
}

.block-quote{
    background-color: rgb(253, 214, 163);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.309);
}

blockquote > p{
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.uno{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.uno p{
    margin: 10px;
}

.uno blockquote{
    background-color: rgb(185, 185, 185);
    border-left: rgb(120, 120, 120) solid 10px;
}

.box1{
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 1px 2px 3px 1px grey;
    border-radius: 5px;
    background-color: rgb(230, 255, 165);
    text-align: center;
}

.box2{
    padding: 5px;
    margin: 10px;
    border: 3px solid rgba(0, 0, 0, 0.909);
    border-radius: 5px;
    box-shadow: 2px 3px 5px 1px rgb(0, 0, 0);
    background-color: rgb(119, 146, 112);
    text-align: center;
}

.relativo{
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 1px 2px 3px 1px grey;
    border-radius: 5px;
    background-color: rgb(204, 250, 244);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}

.absoluto{
    padding: 5px;
    margin: 10px;
    border: 3px solid rgba(0, 0, 0, 0.909);
    border-radius: 5px;
    box-shadow: 2px 3px 5px 1px rgb(0, 0, 0);
    background-color: rgb(5, 161, 156);
    text-align: center;
    position: absolute;
    top: 400px;
    left: 350px;
}







